.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 134px 30px 30px 30px;
}

section {
    background-color: var(--primary-color-transparent);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1),
    0 0 0 1px var(--gradient-start),
    0 0 0 2px var(--gradient-end);
    max-width: 500px;
    border-radius: 18px;
    padding: 36px;
    position: relative;
    margin: 0 auto;
    color: var(--text-color);
    backdrop-filter: blur(2px);
}

.section-title {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.form-description {
    font-weight: 300;
    margin-top: 24px;
}

.form-description > b {
    font-weight: 600;
}

.form-input {
    margin-top: 36px;
    border-radius: 12px;
    border-color: var(--input-background);
    background: var(--input-background);
    padding: 18px;
    color: var(--text-color);
}

.form-input::placeholder {
    color: var(--input-placeholder);
}

.form-button {
    display: flex;
    width: 100%;
    height: 62px;
    margin-top: 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;
    border-radius: 12px;
    background: linear-gradient(94deg, var(--gradient-start) 0%, var(--gradient-end) 126.19%);
}

.form-button:disabled {
    color: white;
}

.item-wrapper {
    margin: 0;
}

@media (min-width: 768px) {
    section {
        min-width: 500px;
    }
}

@media (max-width: 768px) {
    section {
        padding: 22px;
    }

    .form-container {
        margin: 154px 10px 30px 10px;
    }
}